<!DOCTYPE html>
<html>
  <head>
    <title>Kenko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="p-6">
      <div class="flex justify-between mb-4">
        <span><%= link_to "Kenko", root_path %></span>
        <span><%= current_user.email %></span>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
